
$react-blue:#61DAFB;
$navbar-bg:#21222A;
$main-bg:#282D35;

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.react-facts {
    @include flex(column, flex-start, center);

}

.navbar {
    @include flex(row, center, space-between);

    width: 550px;
    height: 91px;
    padding: 0 26px;

    background-color: $navbar-bg;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    .nav-left {
        @include flex(row, center, center);
        gap: .5rem;

        .text-left {
            width: 123px;
            height: 23px;
            
            color: $react-blue;
            font-size: 22.2px;
            font-weight: 700;
        }  
    }

    .nav-right {
        .text-right {
            font-weight: 600;
        }
    }
}

.main-container {
    width: 550px;
    height: 459px;
    background-color: $main-bg;

    background-image: url(../src/assets/react-half.png);
    background-repeat: no-repeat;
    background-position: right center;

    .main-title {
        margin-top: 3.5rem;
        margin-left: 1.6rem;
        font-weight: 700;
        font-size: 39;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .main-ul {
        margin-top: 50px;
        margin-left: 76px;
        @include flex(column, flex-start, flex-start);
        gap: 1.2rem;

        li {
            font-weight: 400;
            //list-style: none;
            width: 40ch;
            
            //position: relative;
        }
        li::marker {
            color: $react-blue;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}